* text=auto eol=lf

# VS/MSBuild файли з CRLF
*.sln     text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props   text eol=crlf
*.targets text eol=crlf

# Код і CMake
*.cpp text
*.hpp text
*.h   text
*.c   text
*.cmake text
CMakeLists.txt text
*.m text
